# Xcode
build
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# OS X
.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


**/*.xcodeproj/xcuserdata/*.xcuserdatad/**
**/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/**

# from: https://gist.github.com/137348
# xcode noise
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*~.nib/
build/*
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.orig
DerivedData/

# Textmate - if you build your xcode projects with it
*.tm_build_errors

# old skool
.svn

# osx noise
.DS_Store
profile

# Project-specific ignores
